DATABASE_URL=postgresql://postgres:Postgres1234@localhost:5432/subscription_db
SECRET_KEY=ed8f1f8966aa998ad0bd18a303af0daa75ab56d0808e24bfec4e7ba5689802cc
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30